<template>
	<div>
		<div class="row">
			<div class="col-md-11"><h1>Create A Blog</h1>
			</div>
			<div class="col-md-1" style="margin-top: 22px"><router-link :to="{ name: 'Blog' }" class="btn btn-success">Back</router-link></div>
		</div>

		<form v-on:submit.prevent="addBlog">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" id="title" class="form-control" v-model="blog.title" required
						       autofocus>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="content">Content:</label>
						<div id="editor" v-model="blog.content"></div>

					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
				<button class="btn btn-primary">Create Blog</button>
			</div>
		</form>
	</div>
</template>
<script>
	import $ from 'jquery';
	import 'summernote';
	require('summernote/dist/summernote.css');

	export default {
		data() {
			return {
				blog: {},
			}
		},

		mounted: function(){
			let vm = this;

			$('#editor').summernote({
				tabsize: 4,
				height: 300,
				callbacks: {
					onChange: function(contents) {
						vm.blog.content = contents;
					}
				}
			});
		},

		methods: {
			addBlog() {
				this.errors = {};
				let uri = '/json/blog';
				this.axios.post(uri, this.blog)
					.then(() => {
					    this.$router.push({name: 'Blog'})
					})
			}
		}
	}
</script>