<template>
	<div>
		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-2" style="margin-top: 22px">
				<router-link v-if="this.$router.options.logged" :to="{ name: 'BlogCreate' }" class="btn btn-primary">New Blog</router-link>
			</div>
		</div><br />

		<div class="col-sm-6 col-md-4" v-for="blog in blogs">
			<div class="thumbnail">
				<div class="caption">
					<h3>{{ blog.title }}</h3>
					<div v-html="blog.content"></div>
					<router-link :to="{name: 'BlogShow', params: { id: blog.slug }}" class="btn btn-primary">Read
						More</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	export default {
		data() {
			return{
				blogs: []
			}
		},

		created: function()
		{
			this.fetchBlogs();
		},

		methods: {
			fetchBlogs()
			{
				let uri = '/json/blog';
				this.axios.get(uri).then((response) => {
					this.blogs = response.data;
				});
			},
		}
	}
</script>