<template>
	<div>
		<div class="row">
			<div class="col-md-11"><h1>{{ blog.title }}</h1>
			</div>
			<div class="col-md-1" style="margin-top: 22px"><router-link :to="{ name: 'Blog' }" class="btn btn-success">Back</router-link></div>
		</div>

		<div v-html="blog.content"></div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				blog: {},
			}
		},

		created() {
			let uri= `/json/blog/${this.$route.params.id}`;
			this.axios.get(uri).then((response) => {
				this.blog = response.data;
			});
		}
	}
</script>