<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Count!</div>

                    <div class="panel-body">
                        {{ counter }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
	        for (let i = 1; i <= 10000; i++) {
		        this.plusPlus(i);
	        }
        },
	    data() {
		    return {
			    counter: 0
		    }
	    },
	    methods: {
		    plusPlus: function(i) {
			    setTimeout(
                    function(i) {
                        this.counter = i;
                    }.bind(this, i),
                    50 * i
                );
		    }
	    }
    }
</script>
