<template>
	<div>

		<div class="row">
			<div class="col-md-10"><h1>Users</h1></div>
			<div class="col-md-2" style="margin-top: 22px">
				<router-link :to="{ name: 'UserCreate' }" class="btn btn-primary">Create User</router-link>
			</div>
		</div><br />

		<table class="table table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Created At</th>
				<th>Actions</th>
			</tr>
			</thead>

			<tbody>
			<tr v-for="user in users">
				<td>{{ user.first_name }} {{ user.last_name }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.created_at_logged_user_timezone }}</td>
				<td><router-link :to="{name: 'UserEdit', params: { id: user.id }}" class="btn btn-primary">Edit</router-link></td>
				<td><button class="btn btn-danger" v-on:click="deleteUser(user)">Delete</button></td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>

	export default {
		data() {
			return{
				users: []
			}
		},

		created: function()
		{
			this.fetchUsers();
		},

		methods: {
			fetchUsers()
			{
				let uri = '/json/user';
				this.axios.get(uri).then((response) => {
					this.users = response.data;
				});
			},
			deleteUser(user)
			{
				swal({
					title: 'Are you sure?',
					icon: 'warning',
					buttons: true,
					dangerMode: true,
				})
				.then((willDelete) => {
					if (willDelete) {
						let index = this.users.map(item => item.id).indexOf(user.id);
						this.users.splice(index, 1);
						let uri = `/json/user/${user.id}`;
						this.axios.delete(uri);

						swal('User ' + user.first_name + ' ' + user.last_name + ' (' + user.email +
							') has been deleted!', {
							icon: 'success',
						});
					}
				});
			}
		}
	}
</script>