<template>
	<div>
		<div class="row">
			<div class="col-md-5"><h1>Create An User</h1>
			</div>
			<div class="col-md-1" style="margin-top: 22px"><router-link :to="{ name: 'User' }" class="btn btn-success">Back</router-link></div>
		</div>

		<form v-on:submit.prevent="addUser">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.first_name }">
						<label for="first_name">First Name:</label>
						<input type="text" id="first_name" class="form-control" v-model="user.first_name" required
						       autofocus>
						<span class="help-block"><strong>{{ errors.first_name }}</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.last_name }">
						<label for="last_name">Last Name:</label>
						<input type="text" id="last_name" class="form-control col-md-6" v-model="user.last_name"
						       required>
						<span class="help-block"><strong>{{ errors.last_name }}</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.email }">
						<label for="email">Email:</label>
						<input type="email" id="email" class="form-control col-md-6" v-model="user.email" required>
						<span class="help-block"><strong>{{ errors.email }}</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.password }">
						<label for="password">Password:</label>
						<input type="password" id="password" class="form-control col-md-6" v-model="user.password"
						       required>
						<span class="help-block"><strong>{{ errors.password }}</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.password }">
						<label for="password_confirmation">Password Confirmation:</label>
						<input type="password" id="password_confirmation" class="form-control col-md-6"
						       v-model="user.password_confirmation"
						       required>
						<span class="help-block"><strong>{{ errors.password_confirmation }}</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" v-bind:class="{ 'has-error': errors.timezone }">
						<label for="timezone">Timezone:</label>
						<select id="timezone" v-model="user.timezone" class="form-control col-md-6">
							<option v-for="option in timezoneSelect" v-bind:value="option.value">
								{{ option.text }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
				<button class="btn btn-primary">Create User</button>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				user: {},
				errors: {},
				errorClass: 'has-error',
				timezoneSelect: '',
			}
		},

		created: function()
		{
			this.user.timezone = 'UTC';
			let uri = '/json/user/timezone-select';
			this.axios.get(uri).then((response) => {
				this.timezoneSelect = response.data;
			});
		},

		methods: {
			addUser() {
				this.errors = {};
				let uri = '/json/user';
				this.axios.post(uri, this.user)
					.then(() => {
					    this.$router.push({name: 'User'})
					})
					.catch(error => {
						// Only validation check
						if ( error.response.status !== 422 ) {
							return;
						}

						Object.keys(error.response.data).map(function(key) {
							error.response.data[key] = error.response.data[key].join(' ')
						});
						this.errors = error.response.data;
					})
			}
		}
	}
</script>