<template>
	<div>

		<div class="row">
			<div class="col-md-5"><h1>Edit User</h1></div>
			<div class="col-md-1" style="margin-top: 22px">
				<router-link :to="{ name: 'User' }" class="btn btn-success">Back</router-link>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6"><h3>{{ user.email }}</h3></div>
		</div>

		<form v-on:submit.prevent="saveUser">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" id="first_name" class="form-control" v-model="user.first_name" required
						       autofocus>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" id="last_name" class="form-control col-md-6" v-model="user.last_name"
						       required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="timezone">Timezone:</label>
						<select id="timezone" v-model="user.timezone" class="form-control col-md-6">
							<option v-for="option in timezoneSelect" v-bind:value="option.value">
								{{ option.text }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group">
				<button class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				user: {},
				timezoneSelect: '',
			}
		},

		created: function()
		{
			this.user.timezone = 'UTC';
			let uri_timezone = '/json/user/timezone-select';
			this.axios.get(uri_timezone).then((response) => {
				this.timezoneSelect = response.data;
			});

			let uri_user = `/json/user/${this.$route.params.id}/edit`;
			this.axios.get(uri_user).then((response) => {
				this.user = response.data;
			});
		},

		methods: {
			saveUser() {
				let uri = `/json/user/${this.$route.params.id}`;
				this.axios.patch(uri, this.user).then(() => {
					this.$router.push({name: 'User'});
				});
			}
		}
	}
</script>